.Faal{
    background-image: url(../hafez-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    font-family: 'rezvan', sans-serif;
}
.container{
    background-color: rgba(244, 188, 19, 0.829);
    height: 100vh;
    width: 47%;
    margin-left: auto;
    margin-right: 5%;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faal-box, .tafsir-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
}
.faal-name{
    font-size: 16px;
    margin-bottom: 20px;
}
#audio{
    margin-top: 20px;
}
.tafsir-box{
    margin: 20px 0;
    position: relative;
}
.tafsir-box h2{
    font-size: 16px;
    margin-bottom: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    
}
.main-page-btn{
    display: block;
    background-color: #DFE9F3;
    height: 50px;
    width: 150px;
    border-radius: 25px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

